<div class="col-lg-3">
<div class="list-group">
	<%= link_to "korisnici", all_users_path, :class => is_active?(all_users_path) %>
	<%= link_to "konkursi", konkursi_path, :class => is_active?(konkursi_path) %>
	<%= link_to "raspisivaci", raspisivacs_path, :class => is_active?(raspisivacs_path) %>	
</div>
</div>