         <div class="col-lg-3">
        	<div class="panel panel-primary">
  			<div class="panel-heading">
    		<h1 class="panel-title">O NAMA</h1>
  			</div>
  			<div class="panel-body">
			<p class="text-primary">Portal Projekti.rs ima za cilj razvoj preduzetništva i povećanje korištenja EU fondova u Srbiji.</p>
			<p class="text-warning">Takodje Projekti.rs ima za cilj da poveća korištenja drugih dostupnih fondova za vaše projekte.</p>
			<p class="text-danger">Ovde možete pronaći konkurse koje raspisuje EU kao i konkurse iz zemlje.</p>
			<p class="text-success">Veliki procenat dostunih fondova ostaje neiskorišćen zbog nedovoljne informisanosti o dostupnosti fondova i postojećim izvorima finansiranja..</p>
			<p class="text-info">Mi ćemo pokušati da vam pružimo relevantne inforacije o dostupnim fondovima i procedurama apliciranja.</p>
  			</div>
			</div>
        </div>