<div class="col-lg-3 col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">OPŠTE INFORMACIJE</h1>
		</div>
		<div class="panel-body">
			<p class="text-primary">U diskusijama mogu da učestvuju samo registrovani korisnici.</p>
            <p class="text-primary">Ove strane nisu namenjene ćaskanju već postavljanju konkretnih pitanja ili informacija i prikupljanju odgovora na njih.</p>
			<p class="text-danger">OTVARANJE NOVE TEME, POSTAVLJANJE PITANJA</p>

    <p class="text-danger">Pre otvaranja nove teme ili postavljanja novog pitanja koristite pretraživač.</p>
    <p class="text-danger">Naziv teme treba da bude kratak i jasan.</p>
    <p class="text-danger">Nove teme treba tematski da pripada sajtu.</p>
    <p class="text-danger">U diskusiji se držite osnovne teme ili pitanja. Izbegavajte skretanje sa tema postavljenih osnovnom objavom.</p>	
    	</div>
	</div>
</div>