<p>Zdravo <%= @resource.username %>!</p>

<p>Neko je zatražio promenu vaše lozinke. Možete promeniti lozinku klikom na link ispod.</p>

<p><%= link_to 'Promeni lozinku', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ukoliko niste vi zatražili promenu lozinke, molimo vas ignorišite ovaj email.</p>
<p>Vaša lozinka neće biti promenjena ukoliko ne kliknete na link iznad.</p>
