<p>Hello <%= @resource.username %>!</p>

<p>Vaš nalog je zaključan zbog neuspešnih pokušaja da se ulogujete .</p>

<p>Kliknete na link ispod da otključate vaš nalog:</p>

<p><%= link_to 'Otključaj nalog', unlock_url(@resource, unlock_token: @token) %></p>
